body {
  background: #fafafa;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  max-width: 920px;
  margin: auto;
}

.title a {
  color: #011627;
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 3px solid #ffa7c4;
  transition: border-bottom-color 0.4s ease;
}

.title a:focus,
.title a:hover {
  border-bottom-color: #82aaff;
}

.card {
  display: block;
  padding: 6px;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  text-decoration: none;
  color: #222;
  transition: box-shadow 0.4s ease;
}

.card:focus,
.card:hover {
  box-shadow: -2px 8px 22px 0 rgba(0, 0, 0, 0.15);
}

.card__prop,
.card__result {
  display: block;
  padding: 12px;
}

.card__prop {
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.card__result {
  background: #011627;
  color: #fff;
  width: 50%;
  margin: 8px auto;
}
